<div id="contact-info">
    <div class="container">
        <div class="row">
            <div class="contact col-md-6 wow fadeIn delay-08s">
                <div class="col-md-10 col-md-offset-1">
                    <div class="form-group">
                        <input type="file" name="files" (change)="uploadFile($event)" />
                    </div>
                    <form #agrForm="ngForm" (ngSubmit)="onAgregarUbicacion()" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="edad" class="form-control" id="edad" placeholder="Edad"
                                #edad="ngModel" [(ngModel)]="paciente.edad" data-rule="minlen:4"
                                data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" name="latitud" class="form-control" id="coordenadas"
                                placeholder="Coodenadas" #coordenada="ngModel" [(ngModel)]="cord" data-rule="minlen:4"
                                data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit" class="agregar-submit">Marcar punto</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-title">
                    <i class="fa fa-map-marker"></i>
                    <h2>TRAYECTORIA DEL PACIENTE</h2>
                    <!-- Map -->
                    <div class="bubble-container">
                        <div class="bubble border border-info">
                            <agm-map [latitude]="latitude" [longitude]=longitude>
                                <agm-marker *ngFor="let m of markers" [latitude]="m.latitude" [longitude]="m.longitude"
                                    [markerDraggable]="false">
                                </agm-marker>
                            </agm-map>
                        </div>
                        <hr style="border-color:white;">
                        <div>
                            <table class="table table-striped table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Latitud</th>
                                        <th scope="col">Longitud</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let u of paciente.ubicaciones">
                                        <th scope="row">{{u.id}}</th>
                                        <td>{{u.latitud}}</td>
                                        <td>{{u.longitud}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center"><button type="submit" class="guardar-submit"
                                (click)="onAgregarPaciente()">GUARDAR PACIENTE</button>
                        </div>
                    </div>
                    <!-- Map -->
                </div>


            </div>
        </div>
    </div>
</div>