<div id="contact-info">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="contact-title">
          <i class="fa fa-map-marker"></i>
          <h2>TRAYECTORIA DEL PACIENTE</h2>
          <!-- Map -->
          <div class="bubble-container">
            <div class="bubble border border-info">
              <agm-map [latitude] = "latitude" [longitude] = longitude>
                <agm-marker 
                    *ngFor="let m of markers"      
                    [latitude]="m.latitude"
                    [longitude]="m.longitude"
                    [markerDraggable]="false">
                </agm-marker>
              </agm-map>
            </div>
            <div class="arrow"></div>
          </div>
          <!-- Map -->
        </div>
      </div>
      <div class="contact col-md-6 wow fadeIn delay-08s">
        <div class="col-md-6 col-md-offset-1">
          <div id="note"></div>
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-group">
              <input type="text" name="edad" class="form-control" id="edad" placeholder="Edad" data-rule="minlen:4"
                data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="text" name="lat" class="form-control" id="lat" placeholder="Latitud" data-rule="minlen:4"
                data-msg="Please enter at least 4 chars" />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="lng" id="lng" placeholder="Longitud"
                data-msg="Please enter a valid email" />
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit" class="contact-submit">Marcar punto</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>